<div class="sellpoint">

    {% assign str = 'sp211119ulk5,SP211220PIS2,SP220114SY9W' %}
    {% assign handles = str | split:',' %}
    {% for handle in handles limit:1 %}

    {%- assign product = all_products[handle] -%}
    {%- assign selected_variant = product.selected_or_first_available_variant -%}
    {%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}
    {% for tag in product.tags %}
    {%- if forloop.index == 1 -%}
    {%- assign tags = tag | handleize -%}
    {%- else -%}
    {%- assign tagtitlie = tag | handleize -%}
    {%- assign tags = tags | append: "," | append: tagtitlie -%}
    {%- endif -%}
    {% endfor %}

    <div class="product-block-wrapper">
        {%- render 'product-meta', product: product, block: block -%}
        <div class="price-list">
            {%- if selected_variant.compare_at_price > selected_variant.price -%}
            <span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if settings.currency_code_enabled -%}
                {{- selected_variant.price | money_with_currency -}}
                {%- else -%}
                {{- selected_variant.price | money -}}
                {%- endif -%}
            </span>

            <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                {%- if settings.currency_code_enabled -%}
                {{- selected_variant.compare_at_price | money_with_currency -}}
                {%- else -%}
                {{- selected_variant.compare_at_price | money -}}
                {%- endif -%}
            </span>
            {%- else -%}
            <span class="price">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {%- if settings.currency_code_enabled -%}
                {{- selected_variant.price | money_with_currency -}}
                {%- else -%}
                {{- selected_variant.price | money -}}
                {%- endif -%}
            </span>
            {%- endif -%}
        </div>

    </div>
    {%- endfor -%}

    <div class="switch-product">
        <span>{%- render :'icon', icon:'arrow-left' -%}</span>
        <span>{%- render :'icon', icon:'arrow-right' -%}</span>
    </div>

</div>

<style>
    .switch-product {
        display: flex;
        justify-content: space-between;
    }

    .switch-product span {
        cursor: pointer;
        font-size: 20px;
    }
</style>