<div class="product-form__payment-container" {{ block.shopify_attributes }}>
  {% for tag in product.tags %}
    {%- if forloop.index == 1 -%}
      {%- assign tags = tag | handleize -%}
    {%- else -%}
      {%- assign tagtitlie = tag | handleize -%}
      {%- assign tags = tags | append: "," | append: tagtitlie -%}
    {%- endif -%}
  {% endfor %}

 {%- for line_item in cart.items -%}
  {%- assign bonus_amount = 0 -%}
  {% assign bonus_name = ' ' %}
  {%- for discount_allocation in line_item.line_level_discount_allocations -%}
    {% assign bonus_amount = discount_allocation.amount %}
    {% assign bonus_name = discount_allocation.discount_application.title %}
  {%- endfor -%}
  {%- if forloop.index == 1 -%}
    {%- assign id = line_item.sku -%}
  {%- else -%}
    {%- assign id = id  | append: "," | append: line_item.sku  -%}
  {%- endif  -%}
 {%- endfor  -%}
 
  {%- if product.template_suffix != 'contact' -%}
    {%- if product.selected_or_first_available_variant.available -%}
      {%- if product.template_suffix == 'pre-order' -%}
        <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart" onclick="return gtag_report_conversion();">{{ 'product.form.pre_order' | t }}</button>
      {%- else -%}
        <button type="submit" class="product-form__add-button button button--primary" 
         data-scenable="1" data-sctype="addCart"
         data-scdata='{"is_quick_view":{% if template == "product.quick-view" %}1{% else %}0{% endif %},
							"commodity_spuid": "{{product.handle}}",
               "commodity_name": "{{product.title | handleize }}",
							"currency_unit":"USD",
							"commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}",
              "commodity_size":"",
				      "commodity_color":"",
							"commodity_image_quantity":"{{product.images.size}}",
              "commodity_description_text":["{{product.description | handleize }}"],
				      "commodity_description_image":["{{ product.featured_image | image_url | split: "?" | first  }}"],
							"commodity_tag":"{{ tags }}",
							"original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}",
			      	"current_price":"{{ product.selected_or_first_available_variant.price }}",
              "discount_price":"",
              "compliment_commodities":"{{ id }}",
              "bonus_name":"{{bonus_name}}",
              "bonus_amount":"{{bonus_amount}}",
              "entrance":"CommodityDetailPage_AddToCart"}'
         data-action="add-to-cart" onclick="return gtag_report_conversion();">{{ 'product.form.add_to_cart' | t }}</button>
      {%- endif -%}
    {%- else -%}
      <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
    {%- endif -%}

    {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
      <div 
      data-scenable="1" 
      data-sctype="addCart" 
      data-scsession='{"entrance":"QuickView_BuyItNow"}'
      data-scdata='{
        "is_quick_view":{% if template == "product.quick-view" %}1{% else %}0{% endif %},
							"commodity_spuid": "{{product.handle}}",
               "commodity_name": "{{product.title | handleize }}",
							"currency_unit":"USD",
							"commodity_skuid":"",
              "commodity_size":"",
				      "commodity_color":"",
							"commodity_image_quantity":"{{product.images.size}}",
              "commodity_description_text":["{{product.description | handleize }}"],
				      "commodity_description_image":"",
							"commodity_tag":"{{ tags }}",
							"original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}",
			      	"current_price":"{{ product.selected_or_first_available_variant.price }}",
              "discount_price":"",
              "compliment_commodities":"{{ id }}",
              "bonus_name":"{{bonus_name}}",
              "bonus_amount":"{{bonus_amount}}",
              "entrance":"QuickView_BuyItNow"}'>
    {{ form | payment_button }}</div>
    {%- endif -%}
  {%- else -%}
    <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
  {%- endif -%}

  {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}
</div>
