<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
	{% render 'dataTrack.liquid' %}
    <!-- Pinterest 网站声明 -->
<meta name="p:domain_verify" content="cbb185202f36b626478a123f1f821626"/>
<!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2614456934829', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2614456934829&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<script>
pintrk('track', 'pagevisit', {
property: 'Athleta'
});
</script>
<!-- end Pinterest Tag -->
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="{{ 'shencesdk.js' | asset_url }}"></script>

  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>
    {{ tracking_code }}
    {% comment %}巴西的门牌号必填{% endcomment %}
    {% if settings.brazil_house_number %}
        <script src="{{ 'brazil_house_number.js' | asset_url }}" defer></script>
    {% endif %}
    <script src="{{ 'thank_you_track_link.js' | asset_url }}" defer></script>
  <script>
	~function () {
  	  const callback=function () {
    	let demo =document.querySelectorAll(".reduction-code__text")
    	let tipel =document.querySelector(".tips-unicef");
    	let sections= document.querySelector(".order-summary__sections");
    	if(Array.from(demo).some(item=>item.innerHTML=='BLUE')){
      	  if(!tipel){
            let ref= document.querySelector(".order-summary__section--total-lines");
            let newchild=document.createElement("div");
            newchild.innerHTML='We will attach a gift box for you when you use this code';
       	    newchild.classList.add('tips-unicef')
       	    newchild.style.paddingBottom='20px'
       	    sections.insertBefore(newchild,ref)
    	  }
        }else{
          if(tipel){sections.removeChild(tipel)}
       }
    }
  callback();
  let sections= document.querySelector(".order-summary__sections");
  const observer=new MutationObserver(callback)
  observer.observe(sections,{childList:true,subtree:true})
	}()
  </script>
    {% render 'shence-checkout-data' %}
  </body>
</html>
<style>

</style>
