<section id="cjj_bgscroll" class="container--flush lazyload"
			{% if section.settings.bgimage!=blank %}data-bgset="{{ section.settings.bgimage | img_url: '3000x' }}"{% endif %}>
	<div class="cjj_content">
		{%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', image: section.settings.image -%}{%- endcapture -%}
		{%- assign image_url = section.settings.image | img_url: '1x1'| replace: '_1x1.', '_{width}x.' -%}
		<img data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}" class="lazyload">

	</div>
</section>

<style>

	#shopify-section-{{ section.id }}  #cjj_bgscroll {
		height: 500px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		text-align: right;
	}
	#shopify-section-{{ section.id }} .cjj_content{
		width: 350px;
		display: inline-block;
		background-color: #fff;
		margin-top: 70px;
		margin-right: 5%;
	}
	#shopify-section-{{ section.id }} .cjj_content img{
		width: 100%;
	}
</style>
<script>
  ~function () {
    console.log(2)
    var div = document.getElementById("cjj_bgscroll");
    var visibleHeight = document.documentElement.clientHeight;
    function throttle(fn, delay) {
      let canRun = true; // 通过闭包保存一个标记
      return function () {
        if (!canRun) return;
        canRun = false;
        setTimeout(() => {
          fn.apply(this, arguments);
          canRun = true;
        }, delay);
      };
    }



    function scroll(e) {
      let visibleTop = window.scrollY;
			let margeHeight=div.offsetTop-visibleTop;

			if(margeHeight<visibleHeight){
				div.style.backgroundPositionY=(margeHeight-visibleHeight)*0.1+'px'
			}
    }
    window.addEventListener('scroll', throttle(scroll, 10));

  }()
</script>

{% schema %}
{
	"name": "背景视差滚动",
	"limit": 1,
	"settings": [
		{
			"type": "image_picker",
			"id": "bgimage",
			"label": "背景图"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "内容图"
		}
	],
	"presets": [
		{
			"category": "Image",
			"name": "背景视差滚动",
			"settings": {}
		}
	]
}
{% endschema %}
