{%- comment -%}
	底部悬浮导航
	@Version  v1.0
	@Author   苦行僧|2021/10/18
{%- endcomment -%}

{% assign footer_menu=section.settings.footer_menu %}
{% assign pathArr = canonical_url | replace:"/","@"| split:"@" %}
{% assign path3 = pathArr[3] %}
{% assign path4 = pathArr[4] %}
{%- if path3=='account' -%} {%- capture path3 -%}me{%- endcapture-%} {%- endif -%}
{%- if path4=='best-sellers' -%} {%- capture path4 -%}hot{%- endcapture-%} {%- endif -%}

{% capture cjj_current %}
	{%- for link in footer_menu.links -%}
		{% assign link_title = link.title | downcase | replace:" ","-" %}
		{%- if link_title==path4 -%}
			{{ path4 }}
			{% break %}
		{%- endif -%}
	{%- endfor -%}
{% endcapture %}

{%- if cjj_current== blank -%}
	{%- capture cjj_current -%}
	{%- for link in footer_menu.links -%}
		{%- assign link_title = link.title | downcase | replace:" ","-" -%}
		{%- if link_title==path3 -%}
			{{- path3 -}}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
	{%- endcapture -%}
{%- endif -%}

{% assign cjj_currentPage = cjj_current | strip |default:'shop' %}

{% if footer_menu.links.size >0 %}
	<div class="footer-navbar-box">
		<div class="footer-navbar hidden-lap hidden-lap-and-up">
			<ul class="list--unstyled ">
				{%- for link in footer_menu.links -%}
					{% assign link_class = link.title | downcase | replace:" ","-" %}
					<li class="{{ link_class }}"><a href="{{ link.url }}">
							{% assign cjj_icon = link_class | prepend:'cjj_'%}
							{%- render 'icon', icon: cjj_icon -%}<br/>
							<span class="navbar-title">{{ link.title }}</span>
						</a></li>
				{%- endfor -%}
			</ul>
		</div>
	</div>
{% endif %}

<style>
	#shopify-section-{{ section.id }} .icon{
		width: 1.5em;
		height: 1.5em;
		margin-bottom: -0.5em;
	}
	#shopify-section-{{ section.id }} .footer-navbar-box{
		height: 50px;
	}
	#shopify-section-{{ section.id }} .footer-navbar{
		width: 100vw;
		position: fixed;
		bottom: 0;
		z-index: 999;
		background-color: {{ section.settings.navbar_bgcolor }};
		display: flex;
		justify-content: center;
		box-shadow: 0 -1px 8px 2px rgba(0, 0, 0, 0.1);
	}
	#shopify-section-{{ section.id }} .footer-navbar ul{
		display: flex;
		flex: 1;
	}
	#shopify-section-{{ section.id }} .footer-navbar li{
		flex: 1 0 auto;
	}
	#shopify-section-{{ section.id }} .footer-navbar a{
		display: block;
		text-align: center;
		color: {{ section.settings.navbar_color }};
	}
	#shopify-section-{{ section.id }} 	.footer-navbar .{{cjj_currentPage}} a{
		color: {{ section.settings.navbar_active_color }};
	}
	#shopify-section-{{ section.id }} .navbar-title{
		display:  inline-block;
		text-align: center;
	}
</style>

<script>

</script>

{% schema %}
{
	"name": "footer-navbar",
	"class":"box",
	"settings": [
		{
			"type": "link_list",
			"id":"footer_menu",
			"label": "吸底导航",
			"info": "菜单名请与链接名相关，如同时匹配多个则激活最精确那个，例：链接名为***.com/search/**激活search，***.com/search/new-in/** 激活new in，如需要自定义请联系前端"
		},{
			"type": "color",
			"id": "navbar_bgcolor",
			"label": "背景颜色",
			"default": "#ffffff"
		},{
			"type": "color",
			"id": "navbar_color",
			"label": "字体颜色",
			"default": "#cccccc"
		},{
			"type": "color",
			"id": "navbar_active_color",
			"label": "激活颜色",
			"default": "#000000"
		}
	]
}
{% endschema %}