<div class="instagram-section card-{{section.id}} ">
  <div class="ld-imageText">
    {% assign link = section.settings.link.url %}
    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', image: section.settings.image -%}{%- endcapture -%}
    <div class="PC">    
        <img data-src="{{ section.settings.image | img_url: '1500x' }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
						 alt="{{ section.settings.image.alt | escape }}" class="lazyload  img_item">
        <a class="ins_item link" data-account-id="{{ forloop.index0 }}" href="{{link}}"></a>
    </div>
    <div class="title">
      <!-- 当切换到邮箱时显示这两个title -->
      {% if section.settings.show %}
      <button class="title-item-email">{{section.settings.title}}</button>
      <button class="title-big-title-email">{{section.settings.subtitle}}</button>
      {% else %}
           <!-- 正常标题 -->
      {% if section.settings.title %}
      <button class="title-item">{{section.settings.title}}</button>
      {% endif %}
      {% if section.settings.subtitle %}
      <button class="title-big-title">{{section.settings.subtitle}}</button>
      {% endif %}

      {% endif %}

    
       <!-- 如果把是否显示邮箱改为真则显示一下内容 -->
      {% if section.settings.show %}
      <div class="newsletter newsletter--compact">
        {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
          {%- if form.posted_successfully? -%}
            <p class="alert alert--success">{{ 'home_page.newsletter.success' | t }}</p>
          {%- else -%}
            {%- if form.errors -%}
              <p class="alert alert--error">{{ form.errors.messages['email'] }}</p>
            {%- endif -%}
  
            <input type="hidden" name="contact[tags]" value="newsletter">
  
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="email" name="contact[email]" class="form__field form__field--text form__field--borderless" aria-label="{{ 'home_page.newsletter.input' | t }}" required>
              <label for="newsletter[contact][email]" class="form__floating-label">{{ 'home_page.newsletter.input' | t }}</label>
            </div>
  
            <button type="submit" class="form__submit form__submit--tight button button--primary button--full">{{ 'home_page.newsletter.submit' | t }}</button>
          {%- endif -%}
        {%- endform -%}
      </div>
      {% else %}
      {% if section.settings.button %}
      <div class="btn">{{section.settings.button}}</div>
      {% endif %}
      {% endif %}
    </div>
    <div class="mobile">
        <img data-src="{{ section.settings.mobile_image | img_url: '1500x' }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
        alt="{{ section.settings.image.alt | escape }}" class="lazyload  img_item">
      <a class="ins_item link" data-account-id="{{ forloop.index0 }}"href="{{link}}"> </a>
    </div>
  </div>
</div>

<style>
 #shopify-section-{{ section.id }} .ld-imageText {
    width: 100%;
    position: relative;
  }
  #shopify-section-{{ section.id }} .ld-imageText  img {
      width: 100%;
    }
  #shopify-section-{{ section.id }} .ld-imageText .title {
    position: absolute;
    top: {{section.settings.text_top}}%;
    left: {{section.settings.text_left}}%;
    display: flex;
    flex-flow: column;
    align-items:{{section.settings.text_align}};
  }

  /* #shopify-section-{{ section.id }} .ld-imageText .newsletter {
    position: absolute;
    top: {{section.settings.news_text_top}}%;
    left: {{section.settings.news_text_left}}%;
  } */

    #shopify-section-{{ section.id }} .ld-imageText .newsletter {
    margin-top:0px;
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .btn {
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: {{section.settings.button_color}};
    color:{{section.settings.button_text_color}};
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .title-item {
    font-size: {{section.settings.title_size}}px;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .title-item-email {
    font-size: {{section.settings.title_size}}vw;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .title-big-title {
    font-size: {{section.settings.sub_title_size}}px;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
    position: relative;
    bottom:{{section.settings.sub_title_top}}px;
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .title-big-title-email {
    font-size: {{section.settings.sub_title_size}}vw;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
    position: relative;
    bottom:{{section.settings.sub_title_top}}px;
  }

  #shopify-section-{{ section.id }} .ld-imageText .title .btn:hover {
    background-color: {{section.settings.button_color_hover}};
    color:{{section.settings.button_text_color_hover}};
  }

  #shopify-section-{{ section.id }} .ld-imageText .link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    #shopify-section-{{ section.id }} .form__field {
      height: 40px;
      width: {{section.settings.input_width}};
    }
    #shopify-section-{{ section.id }} .form__floating-label{
      line-height: 40px;
    }
    #shopify-section-{{ section.id }} .button--full {
    width: 80%;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
    border: 1.5px #fff solid;
}
#shopify-section-{{ section.id }} .form__submit--tight{
  margin-top: 40px;
}

#shopify-section-{{ section.id }} .form__field--borderless {
      width: 100% !important;
      left: 50% !important;
      height: 40px !important;
     
 
    }
    #shopify-section-{{ section.id }} .form__floating-label {
       width: 100%;
       line-height: 40px !important;
 
    }
  /*移动样式*/
  @media (max-width: 767.98px) {
    #shopify-section-{{ section.id }} .button--full{
       height: 25px !important;
       line-height: 25px !important;
    }
    /* form__submit form__submit--tight button button--primary  */
    #shopify-section-{{ section.id }} .ld-imageText .title .title-item-email {
    font-size: 6vw;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
  }

  
  #shopify-section-{{ section.id }} .ld-imageText .title .title-big-title-email {
    font-size: 3vw;
    color: {{section.settings.text_color}};
    font-weight: {{section.settings.text_style}};
    position: relative;
    bottom:{{section.settings.sub_title_top}}px;
  }

    #shopify-section-{{ section.id }}  .form__submit--tight{
       margin-top: 15px !important;
       
    }
    #shopify-section-{{ section.id }} .form__input-wrapper{
      margin-bottom: -5px !important;
    }
    #shopify-section-{{ section.id }} .ld-imageText .PC {
      display: none;
    }
    #shopify-section-{{ section.id }} .ld-imageText .mobile {
      display: block;
    }
    #shopify-section-{{ section.id }} .ld-imageText .title {
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    }
    #shopify-section-{{ section.id }} .form__field--borderless {
      width: 100% !important;
      left: 50% !important;
      height: 25px !important;
     
 
    }
    #shopify-section-{{ section.id }} .form__floating-label {
       text-align: center;
       left: 0px !important;
       width: 100%;
       line-height: 25px !important;
 
    }
  }

  @media (min-width: 768px) {
    /*PC样式*/
    #shopify-section-{{ section.id }} .ld-imageText .PC {
      display: block;
    }
    #shopify-section-{{ section.id }} .ld-imageText .mobile {
      display: none;
    }
  }
</style>
{% schema %}
{
"name": "带按钮的图文链接",
"settings": [
{
"type": "header",
"content": {
"en-US": "Settings",
"zh-CN": "设置"
}
},
{
"type": "image_picker",
"id": "image",
"label": "上传PC图片"
},
{
"type": "image_picker",
"id": "mobile_image",
"label": "上传mobile图片"
},
{
  "type": "url",
  "id": "link",
  "label":"链接"
  },
{
"type": "text",
"id": "title",
"default": "Text",
"label": "一级标题"
},
{
"type": "text",
"id": "subtitle",
"default": "Text block",
"label": "二级标题"
},
{
"type": "text",
"id": "button",
"default": "SHOP NOW",
"label": "按钮"
},
{
  "type": "checkbox",
  "id": "show",
  "label": "是否显示邮箱",
  "default": false
},
{
"type": "range",
"id": "text_top",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "文字布局top",
"default": 0
}, {
"type": "range",
"id": "text_left",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "文字布局left",
"default": 0
},
{
  "type": "range",
  "id": "m_text_top",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "%",
  "label": "m端文字布局top",
  "default": 0
  }, {
  "type": "range",
  "id": "m_text_left",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "%",
  "label": "m端文字布局left",
  "default": 0
  },
  {
    "type": "range",
    "id": "news_text_top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "%",
    "label": "邮箱文字布局top",
    "default": 0
    }, {
    "type": "range",
    "id": "news_text_left",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "%",
    "label": "邮箱文字布局left",
    "default": 0
    },
{
  "type": "range",
  "id": "title_size",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "一级标题标题文字大小",
  "default": 6
  }, {
  "type": "range",
  "id": "sub_title_size",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "二级标题标题文字大小",
  "default": 4
  },
  {
    "type": "range",
    "id": "sub_title_top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "二级标题标题距离顶部距离",
    "default": 10
    },
    {
      "type": "range",
      "id": "input_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "title和输入框的距离",
      "default": 0
      },
  {
    "type": "color",
    "id": "text_color",
    "default": "#fff",
    "label": "标题字体色"
  },
  {
    "type": "select",
    "id": "text_style",
    "options": [
      {
        "value": "lighter",
        "label": "细"
      },
      {
        "value": "normal",
        "label": "常规"
      },
      {
        "value": "bold",
        "label": "粗体"
      },
      {
        "value": "bolder",
        "label": "加粗"
      }
    ],
    "default": "normal",
    "label": "标题文字粗细"
  },
  {
    "type": "select",
    "id": "text_align",
    "options": [
      {
        "value": "center",
        "label": "居中"
      },
      {
        "value": "start",
        "label": "居左"
      },
      {
        "value": "end",
        "label": "居右"
      }
    ],
    "default": "center",
    "label": "标题文字靠齐方式"
  },
  {
    "type": "select",
    "id": "input_width",
    "options": [
    {
      "value": "100px",
      "label": "100px"
    },
      {
        "value": "200px",
        "label": "200px"
      },
      {
        "value": "300px",
        "label": "300px"
      },
      {
        "value": "500px",
        "label": "500px"
      }
    ],
    "default": "300px",
    "label": "邮箱输入框宽度"
  },
{
  "type": "color",
  "id": "button_color",
  "default": "#ed6123",
  "label": "按钮背景色"
},
{
  "type": "color",
  "id": "button_text_color",
  "default": "#fff",
  "label": "按钮字体色"
},
{
  "type": "color",
  "id": "button_color_hover",
  "default": "#fff",
  "label": "按钮交互背景色"
},
{
  "type": "color",
  "id": "button_text_color_hover",
  "default": "#000",
  "label": "按钮交互字体色"
}
],
"presets": [
{
"name": "带按钮的banner图"
}
]
}
{% endschema %}