<section>
  <div class="header-me container">
    {%- if customer -%}
      <input type="checkbox" id="account-input" class="account-input hidden">
      <ul class="logged">
        <li class=" text-l name"><span class="hi">Hi!&nbsp;</span>{{ customer.first_name }}</li>
        <li class=" text-r tab"><label for="account-input">{%- render 'icon', icon: 'arrow-bottom' -%}</label></li>
      </ul>
      <div class="account-box">
        <a href="{{ routes.account_url }}"
           class="value-picker__choice-item is-selected">{{ 'customer.general.orders' | t }} {% render 'icon', icon: 'check-2' %}</a>
        <a href="{{ routes.account_addresses_url }}"
           class="value-picker__choice-item">{{ 'customer.general.addresses' | t }} {% render 'icon', icon: 'check-2' %}</a>
        <a href="{{ routes.account_logout_url }}" class="value-picker__choice-item"
           data-no-instant>{{ 'customer.general.logout' | t }} {% render 'icon', icon: 'check-2' %}</a>
      </div>
    {%- else -%}
      <ul class="no-logged">
        <li class="text-l"><a href="{{ routes.account_login_url }}?return_url={{ page.url }}">LOGIN &gt;</a></li>
        <li class="text-r"><a href="{{ routes.account_register_url }}">CREATE ACCOUNT&gt;</a></li>
      </ul>
    {%- endif -%}
  </div>
  <div class="order-me container">
    <h2>{{- 'customer.general.orders' | t -}}</h2>

    <div class="icon-box">
      <ul class="icons">
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_all' -%}<br/>
            <span>All</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_unpaid' -%}<br/>
            <span>Unpaid</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_processing' -%}<br/>
            <span>Processing</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_shipped' -%}<br/>
            <span>Shipped</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_payment' -%}<br/>
            <span>Payment</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_completed' -%}<br/>
            <span>Completed</span>
          </a>
        </li>
        <li>
          <a href="">
            {%- render 'icon', icon: 'cjj_post_sale' -%}<br/>
            <span>Post-sale</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  {%- if customer -%}
    <div class="body-me">
      <div class="card">
        {%- if customer.orders.size == 0 -%}
          <div class="card__section">
            <div class="empty-state empty-state--extra-tight">
              <div class="empty-state__icon">
                {%- render 'icon', icon: 'package' -%}
                <span class="empty-state__count">0</span>
              </div>
              <p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>
              <div class="empty-state__button-container">
                <a href="{{ routes.all_products_collection_url }}"
                   class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
              </div>
            </div>
          </div>
        {%- else -%}
          {%- paginate customer.orders by 8 -%}
            {%- for order in customer.orders -%}
              <div class="order-box">
                <div class="order-title">
                  <div class="title-info">
                    <span class="title-info-name"><a href="{{ order.customer_url }}" >{{ 'customer.order.order' | t }}:{{ order.name }}</a></span>
                    <span
                      class="title-info-data">{{ 'customer.order.date' | t }}:{{ order.created_at | date: format: 'month_day_year' }}</span>
                  </div>
                  <div class="title-state">
                    <span>{{ order.fulfillment_status }}</span>
                  </div>
                </div>
                <ul class="order-body">
                  {%- for pro in order.line_items -%}
                    <li>
                      <div class="pro-img">
                        <div>
                          <a href="{{ pro.url }}">
                            <img src="{{ pro.image | img_url: '90x90', scale: 2 }}" alt="{{ pro.image.alt | escape }}">
                          </a>
                        </div>
                      </div>
                      <div class="pro-info">
                        <div class="info-title"><a href="{{ pro.url }}">{{ pro.product.title }}</a></div>
                        <div class="info-price">{{ pro.final_line_price | money }}</div>
                        <div class="info-style">
                          <span class="style-title">{{ pro.variant.title }}</span>
                          <span class="style-num">× {{ pro.quantity }}</span>
                        </div>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
                <div class="order-footer">
                  <div class="shipping">
                    <span>{{ 'customer.order.shipping' | t }}:{{ order.shipping_price | money }}</span>
                  </div>
                  <div class="all-total">
                    <span class="total">{{ 'customer.order.total' | t }}:{{ order.total_net_amount | money }}</span>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- render 'pagination', paginate: paginate -%}
          {% assign dm_paginate_by = paginate.page_size %}
          {%- endpaginate -%}
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  <div class="advert-me container">
    <ul>
      <li><a href="">SHOPPING CART</a></li>
      <li><a href="">MY REWARD</a></li>
      <li><a href="">HOT SALE</a></li>
    </ul>
  </div>
</section>
<style>
  #shopify-section-footer {
    display: none;
  }
  body {
    min-height: 100vh;
    background: #f0f0f0;
  }
  main ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header-me {
    background-color: #fff;
  }

  .header-me .logged .name {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  }
  .header-me .logged .tab label {
    cursor: pointer;
  }
  .header-me .logged .hi {
    color: var(--link-color);
  }
  .header-me .account-box {
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  #account-input:checked ~ .account-box {
    height: 130px;
    transition: all 0.4s ease;
  }
  .header-me .logged > .tab {
    transition: all 0.4s ease;
  }
  #account-input:checked ~ .logged > .tab {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
  }
  .header-me .no-logged,
  .header-me .logged {
    display: flex;
    padding: 20px 0;
  }
  .header-me .logged {
    justify-content: space-between;
  }

  .header-me .no-logged li {
    flex: 1 0 auto;
  }

  .header-me .no-logged li a {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  }

  .order-me {
    background-color: #fff;
    margin-top: 10px;
  }

  .order-me h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    padding: 10px 0;
  }
  .order-me .icon-box {
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 10px;
  }

  .order-me .icons {
    width: 160%;
    display: flex;
    justify-content: space-between;
  }
  .order-me .icon {
    font-size: 2em;
  }
  .order-me span {
    font-size: 0.85rem;
  }
  .body-me {
    margin-top: 10px;
    background-color: #f0f0f0;
  }
  .body-me .card {
    background-color: #f0f0f0;
    padding: 10px;
  }
  .body-me .order-box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
  }
  .body-me .order-title {
    display: flex;
    justify-content: space-between;
  }
  .body-me .order-title .title-info > span {
    display: block;
  }
  .body-me .order-title .title-info-name {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  }
  .body-me .order-title .title-info-data {
    font-size: 0.8rem;
    color: #666666;
  }
  .body-me .order-body{
    padding-top: 10px;
  }
  .body-me .order-body li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  .body-me .order-body .pro-img{
    width: 30%;
  }
  .body-me .order-body .pro-img >div{
    border: 1px solid #dddddd;
    overflow: hidden;
    border-radius: 10px;
  }
  .body-me .order-body .pro-info{
    width: 70%;
    padding: 0 10px;
  }
  .body-me .order-body .pro-info .info-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
  }
  .body-me .order-body .pro-info .info-style{
    display: flex;
    justify-content: space-between;
    color: #666666;
  }
  .body-me .order-footer {
    text-align: right;
  }
  .body-me .order-footer .all-total{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  }
  .icon-box li {
    display: inline-block;
    text-align: center;
  }

  .text-l {
    text-align: left;
  }

  .text-r {
    text-align: right;
  }
  .hidden {
    display: none;
  }

  .advert-me {
    background-color: #fff;
    margin-top: 10px;
    min-height: 400px;
  }
  .advert-me ul {
    padding: 50px 20px 0;
  }
  .advert-me li {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #707070;
  }
  .advert-me li a {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    color: #ffffff;
    text-shadow: -2px 1px 3px rgba(0, 0, 0, .5);
  }
</style>

<script>

</script>
